/* Gaya Umum */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #443C68;
    margin: 0;
    padding: 0;
}

/* Judul Halaman */
h2 {
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #1A120B;
    color: #F8DE22;
    padding: 10px;
    text-align: center;
}

/* Kotak Pencarian */
.search-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    border: 7px solid #FFBB5C;
    border-radius: 20px;
}

/* Tabel */
table {
    border-collapse: collapse;
    width: 40%;
    margin: 0 auto;
    background-color: #EC53B0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 20px;
    text-align: center;
}

th {
    background-color: #0E21A0;
    color: #F8DE22;
    width: 20px;
}

tr:nth-child(even) {
    background-color: #9D44C0;
}

/* Tab Style */
.tab {
    overflow: hidden;
    margin: 30px;
}

.tab button {
    background-color: #61677A;
    float: center;
    border: navy;
    outline: navy;
    cursor: pointer;
    padding: 20px 20px;
    transition: 1.0s;
    border-radius: 10px;
}

.tab button:hover {
    background-color: #8BE8E5;
    color: #070808;
    border-radius: 1000px;
}

.tab button.active {
    background-color: #333;
    color: white;
    border-radius: 25px;
}

a {
    background-color: #871c1c00;
    color: #000000;
    text-decoration: none;
}

button {
    padding: 5px 10px;
    margin: 5px 5px 5px 5px;
    background-color: #2f00ff;
    border: 1px solid black;
    border-radius: 5px;
}

#updatetable {
    background-color: #eaeaea; /* Hijau */
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}

#deletetable {
    background-color: #fe0000; /* Hijau */
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}

.tambah {
    margin-left: 90%;
}